@model ProductDetailsViewModel
<!-- Start Contentbar -->
<div class="contentbar">
	<!-- Start row -->
	<div class="row">
		<!-- Start col -->
		<div class="col-md-12 col-lg-12 col-xl-12">
			<div class="card m-b-30">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6 col-xl-5">
							<div class="product-slider-box product-box-for">
								<img class="w-100" src="/images/onur/@Model.ImageUrl" />
							</div>
						</div>
						<div class="col-lg-6 col-xl-7">
							<p><span class="badge badge-light font-16">Pupular</span></p>
							<h3 class="display-6 fs-4 fw-normal text-danger">@Model.Name</h3>
							<a asp-area=""
							   asp-controller="Home"
							   asp-action="AuthorDetails"
							   asp-route-url="@Model.InstructorUrl">
							</a>
							<p>
								<i class="feather icon-star text-warning"></i>
								<i class="feather icon-star text-warning"></i>
								<i class="feather icon-star text-warning"></i>
								<i class="feather icon-star"></i>
								<i class="feather icon-star"></i>
							</p>
							<div>
								<h5 class="fs-3 text-primary">@($"{Model.Price:C2}")</h5>
							</div>
							<div>
								<h3 class="bg-warning p-2 fs-6 text-white fw-bold display-6 mt-3">@Model.InstructorName</h3>
								<img class="float-end me-1" src="https://picsum.photos/100/100" />
								<p class="fs-6">@Html.Raw(Model.InstructorAbout)</p>

							</div>


							<div class="button-list mt-5 mb-5">

								<button type="button" class="btn btn-outline-dark font-17">Sepete Ekle</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End col -->
	</div>
	<!-- End row -->
</div>
<!-- End Containerbar -->
<!-- Start js -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/detect.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/vertical-menu.js"></script>
<!-- Switchery js -->
<script src="assets/plugins/switchery/switchery.min.js"></script>
<!-- Slick js -->
<script src="assets/plugins/slick/slick.min.js"></script>
<script src="assets/js/custom/custom-ecommerce-single-product.js"></script>
<!-- Core js -->
<script src="assets/js/core.js"></script>
<!-- End js -->
